<!DOCTYPE html>
<html lang="en">
<style>
  .estilo {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
  }

  .estilo1 {
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
  }

  .navpos {
    margin-left: 90%;
  }

  .container {
    width: 500px;
    margin: 20px auto;
  }

  .preview {
    position: relative;
  }

  .navpos {
    margin-left: 90%;
  }

  .preview i {
    color: white;
    font-size: 35px;
    transform: translate(50px, 130px);
  }

  .preview-img {
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.7);
  }

  .browse-button {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    /* Tweak the position property if the element seems to be unfit */
    top: 0.0000000000001px;
    left: 45.5%;
    background: linear-gradient(180deg, transparent, black);
    opacity: 0;
    transition: 0.3s ease;
  }

  .browse-button:hover {
    opacity: 1;
  }

  .browse-input {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transform: translate(-1px, -26px);
    opacity: 0;
  }

  .form-group {
    width: 250px;
    margin: 10px auto;
  }

  .form-group input {
    transition: 0.3s linear;
  }

  .form-group input:focus {
    border: 1px solid crimson;
    box-shadow: 0 0 0 0;
  }

  .Error {
    color: crimson;
    font-size: 13px;
  }

</style>

<%include partials/_header %> 

  <div class="container">

    <p class="h2 text-center">Crear Grupo</p>


    <form class="estilo1" action="/addgrupo" method="POST">

      <div class="form-group">
        <label for="nombreGrupo">Nombre del Grupo</label>
        <input type="user" class="form-control" required name="nombreGrupo" id="nombreGrupo" required
          placeholder="Usuario">
      </div>

      <div class="form-group">
        <label for="descripcionGrupo">Descripcion</label>
        <input type="user" class="form-control" required name="descripcionGrupo" id="descripcionGrupo"
          placeholder="Descripcion">
      </div>

      <div class="form-group">
        <label for="cantParticipantes">Cantidad de participantes</label>
        <select name="cantParticipantes" required class="form-control" id="cantParticipantes">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>

        </select>
      </div>

      <div class="form-group myDiv">
        <label for="materiaQueAplica">Materias a la que aplicará el grupo</label>
        <select name="materiaQueAplica[]" size="3" id="materiaQueAplica" required class="form-control"
          id="materiaQueAplica" multiple>
          <option>Matematica 1</option>
          <option>Introducción a la Progrmación</option>
          <option>Organización de Computadoras</option>
          <option>Nuevos Entornos y Lenguajes</option>
          <option>Estructura de Datos</option>
          <option>Programación con Objetos 1</option>
          <option>Base de Datos</option>
          <option>Ingles 1</option>
          <option>Matematica 2</option>
          <option>Programación con Objetos 2</option>
          <option>Redes de Computadoras</option>
          <option>Sistemas Operativos</option>
          <option>Programación Funcional</option>
          <option>Construcción de Intefaces de Usuarios</option>
          <option>Algoritmos</option>
          <option>Estrategias de Persistencias</option>
          <option>Laboratorio de Sistemas Operativos y Redes</option>
          <option>Análisis Matemático</option>
          <option>Lógica y Programación</option>
          <option>Elementos de Ingeniería de Software</option>
          <option>Seguridad de la Información</option>
          <option>Materia UNAHUR 1</option>
          <option>Ingles 2</option>
          <option>Matematica 3</option>
          <option>Programación Concurrente</option>
          <option>Ingenieria de Requerimientos</option>
          <option>Desarrollo de Aplicaciones</option>
          <option>Probabilidad y Estadistica</option>
          <option>Gestión de Proyectos de Desarrollo de Software</option>
          <option>Lenguajes Formales y Autómatas</option>
          <option>Programación con Objetos 3</option>
          <option>Materia UNAHUR 2</option>
          <option>Practica Profesional Supervisada (PPS)</option>
          <option>Teoría de la Computación</option>
          <option>Arquitectura de Software 1</option>
          <option>Sistemas Distribuidos y Tiempo Real</option>
          <option>Tesina de Licenciatura</option>
          <option>Materia Optativa 1</option>
          <option>Caracteristicas de Lenguajes de Programación</option>
          <option>Arquitectura de Software 2</option>
          <option>Arquitectura de Computadoras</option>
          <option>Materia Optativa 2</option>
          <option>Parseo y generación de código</option>
          <option>Ejercicio Profesional</option>
          <option>Tecnología y Sociedad</option>
        </select>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">
          Crear Grupo
        </button>

      </div>
    </form>
  </div>
