<!DOCTYPE html>
<html>

<style>
  .width {
    width: 50%;

  }

  .position {
    width: 10%;
    margin-left: 1%;

  }

  .navpos {
    margin-left: 90%;
  }
</style>

<%include partials/_header %> 

<div class="card-title card-body">

  <h5>Materias sobre las cuales es tutor:</h5>

  <div class="d-flex flex-column bd-highlight mb-3 ">
    <div class="borraname">
      <div class="p-3 bd-highlight width card-body ">Programacion
      </div>
      <a name="boton01" id="boton01" type="button" onclick="ConfirmDemo()" href="#"
        class="btn btn-danger position">Eliminar</a>
    </div>

    <div class="borraname1">
      <div class="p-3 bd-highlight width card-body">Matematica 2
      </div>
      <a name="boton02" id="boton02" type="button" onclick="ConfirmDemo()" href="#"
        class="btn btn-danger position">Eliminar</a>
    </div>

    <div class="borraname2">

      <div class="p-3 bd-highlight width card-body">Base de Datos
      </div>
      <a name="boton03" id="boton03" type="button" onclick="ConfirmDemo()" href="#"
        class="btn btn-danger position">Eliminar</a>
    </div>
  </div>


  <script type="text/javascript">
    function ConfirmDemo() {
      //Ingresamos un mensaje a mostrar
      var mensaje = confirm("¿Cancelar Tutoria?");
      //Detectamos si el usuario acepto el mensaje
      if (mensaje) {
        alert("Tutoria cancelada");
      }
      //Detectamos si el usuario denegó el mensaje

    }


    $(document).ready(function () {
      $("#boton01").click(function (event) {
        $("div").remove(".borraname");
      });

      $("#boton02").click(function (event) {
        $("div").remove(".borraname1");
      });
      $("#boton03").click(function (event) {
        $("div").remove(".borraname2");
      });
      $("#boton04").click(function (event) {
        $("p").remove(".borrame");
      });
    });
  </script>