<!DOCTYPE html>
<html>

<style>
    body {
        background-color: #eeeeee;
    }

    .navpos {
        margin-left: 90%;
    }

    .h7 {
        font-size: 0.8rem;
    }

    .gedf-wrapper {
        margin-top: 0.97rem;
    }

    .textBienvenida {
        margin-left: 35%;
    }

    @media (min-width: 992px) {
        .gedf-main {
            padding-left: 4rem;
            padding-right: 4rem;
        }

        .gedf-card {
            margin-bottom: 2.77rem;
        }
    }

    /**Reset Bootstrap*/
    .dropdown-toggle::after {
        content: none;
        display: none;
    }
</style>






<%include partials/_header %> 

<nav class="navbar navbar-light bg-white">

    <a href="#" class="navbar-brand textBienvenida">Bienvenido a Red Social <strong><%=user.email%>! </strong> </a>

    <form class="form-inline">

    </form>
</nav>




<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="h7 text-muted"><%=user.email%></div>
                    <div class="h7 text-muted">Carrera : Lic. en Informatica</div>


                </div>


                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Grupos</h5>

                        <p class="card-text">En <strong>Red Social UNAHUR</strong>, podras crear grupos de estudios para
                            estudiar juntos a tus compa単eros y mucho mas. </p>
                        <a href="Grupo" class="card-link">Crea tu Grupo!</a>
                    </div>
                    <div class="card gedf-card">
                        <div class="card-body">
                            <h5 class="card-title">Amigos</h5>

                            <p class="card-text">En <strong>Red Social UNAHUR</strong>, podras a単adir a tus amigos de la
                                universidad e interactuar con ellos.</p>
                            <a href="#" class="card-link">A単adir Amigos!</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-6 gedf-main">

            <!--- \\\\\\\Post-->
            <div class="card gedf-card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab"
                                aria-controls="posts" aria-selected="true">Realizar una publicacion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images"
                                aria-selected="false" href="#images">Imagen</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                            <div class="form-group">
                                <label class="sr-only" for="message">post</label>
                                <textarea class="form-control" id="message" rows="3"
                                    placeholder="Que estas pensando?"></textarea>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Cargar imagen</label>
                                </div>
                            </div>
                            <div class="py-4"></div>
                        </div>
                    </div>
                    <div class="btn-toolbar justify-content-between">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">Compartir </button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Post /////-->

            <!--- \\\\\\\Post-->
            <div class="card gedf-card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <img class="rounded-circle" width="45" src="logo.jpg" alt="">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">Alan Cichello</div>
                                <div class="h7 text-muted">Lic. en Informatica</div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="card-body">
                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>10 min ago</div>
                    <a class="card-link" href="#">
                        <h5 class="card-title">Parcial Matematica</h5>
                    </a>

                    <p class="card-text">
                        Hola tengo una consulta sobre el parcial de Matematica, 多alguien me podria ayudar? Gracias!
                    </p>
                </div>
            </div>
            <!-- Post /////-->
        </div>
        <div class="col-md-3">
            <div class="card gedf-card">

                <script src="https://cdn.onlymega.com/cke0r2s6w000ak7pdvrhh1ptd/embed.js?responsive=1&bnTag="
                    async></script>

            </div>

        </div>
    </div>
</div>

</html>

</tbody>