<!DOCTYPE html>
<html lang="en">
<style>
  .estilo {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
  }

  .estilo1 {
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
  }

  .navpos {
    margin-left: 90%;
  }

  .container {
    width: 500px;
    margin: 20px auto;
  }

  .preview {
    position: relative;
  }

  .navpos {
    margin-left: 90%;
  }

  .preview i {
    color: white;
    font-size: 35px;
    transform: translate(50px, 130px);
  }

  .preview-img {
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.7);
  }

  .browse-button {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    /* Tweak the position property if the element seems to be unfit */
    top: 0.0000000000001px;
    left: 45.5%;
    background: linear-gradient(180deg, transparent, black);
    opacity: 0;
    transition: 0.3s ease;
  }

  .browse-button:hover {
    opacity: 1;
  }

  .browse-input {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transform: translate(-1px, -26px);
    opacity: 0;
  }

  .form-group {
    width: 250px;
    margin: 10px auto;
  }

  .form-group input {
    transition: 0.3s linear;
  }

  .form-group input:focus {
    border: 1px solid crimson;
    box-shadow: 0 0 0 0;
  }

  .Error {
    color: crimson;
    font-size: 13px;
  }

</style>
<head>

</head>
<body>  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

  

<%include partials/_header %> 

  <div class="container">

    <p class="h2 text-center">Crear Grupo</p>


    <form class="estilo1" action="/addgrupo" method="POST">

      <div class="form-group">
        <label for="nombreGrupo">Nombre del Grupo</label>
        <input type="user" class="form-control" required name="nombreGrupo" id="nombreGrupo" required
          placeholder="Usuario">
      </div>

      <div class="form-group">
        <label for="descripcionGrupo">Descripcion</label>
        <input type="user" class="form-control" required name="descripcionGrupo" id="descripcionGrupo"
          placeholder="Descripcion">
      </div>

      <div class="form-group">
        <label for="cantParticipantes">Cantidad de participantes</label>
        <select name="cantParticipantes" required class="form-control" id="cantParticipantes">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>

        </select>
      </div>
     
      
      <div class="form-group myDiv">
        <label for="materiaQueAplica">Materias a la que aplicará el grupo</label>
        <select name="materiaQueAplica" id="materiaQueAplica" required class="form-control">
         <option value="">Seleccione una materia</option>
        </select>
      </div>
    
  

      <div class="form-group">
        <button class="btn btn-primary" type="submit">
          Crear Grupo
        </button>

      </div>
    </form>
  </div>

</body>
 






<script>
  miformulario = document.querySelector('#miFormulario');
window.addEventListener("load", function() {
        cargarProvincias(event);
    }, false);
 
//Funcion para cargar las provincias al campo "select".
function cargarProvincias() {
    //Inicializamos el array.
    var array = ["Ingles 1", "Matematica 2","Programación con Objetos 2","Redes de Computadoras", "Sistemas Operativos","Programación Funcional","Construcción de Intefaces de Usuarios"
,"Programación con Objetos 2"," Redes de Computadoras"     ,
     "Sistemas Operativos"  ,
            "Algoritmos" ,
        "Análisis Matemático",
         "Laboratorio de Sistemas Operativos y Redes" ,   
        "Lógica y Programación"  ,
       "Elementos de Ingeniería de Software",
          "Seguridad de la Información",
        "Materia UNAHUR 1" ,
     "Ingles 2",
           "Matematica 3",
            "Programación Concurrente",
        "Ingenieria de Requerimientos",
         "Desarrollo de Aplicaciones",
        "Probabilidad y Estadistica",
      "Gestión de Proyectos de Desarrollo de Software",
      "Lenguajes Formales y Autómatas",
   "Programación con Objetos 3",
         "Materia UNAHUR 2",
           "Practica Profesional Supervisada(PPS)",
            "Teoría de la Computación",
           "Arquitectura de Software 1",
            "Sistemas Distribuidos y Tiempo Real",
           "Tesina de Licenciatura",
           "Materia Optativa 1",
    "Caracteristicas de Lenguajes de Programación",
         "Arquitectura de Software 2",
            "Arquitectura de Computadoras",
          "Parseo y generación de código",
            "Ejercicio Profesional",
          "Tecnología y Sociedad"];
    //Ordena el array alfabeticamente.
    array.sort();
    //Pasamos a la funcion addOptions(el ID del select, las provincias cargadas en el array).
    addOptions("materiaQueAplica", array);
}
 
//Funcion para agregar opciones a un <select>.
function addOptions(domElement, array) {
    var selector = document.getElementsByName(domElement)[0];
    //Recorremos el array.
    for (materiaQueAplica in array) {
        var opcion = document.createElement("option");
        opcion.text = array[materiaQueAplica];
        selector.add(opcion);
    }
}
  
</script>